# Dependencias
node_modules/

# Variaveis de ambiente
.env
.env.*

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos sensiveis
*.pfx
*.pem
*.key
*.p12

# Documentos pessoais
*.pdf
*.docx
*.xlsx

# Arquivos temporarios
*.zip
*.tar.gz

# Screenshots
CleanShot*.png
*.screenshot.*

# Diretorios locais
/Consulta Detran/
/files/

# IDE
.vscode/
.idea/
